---
import Layout from "../layouts/Layout.astro";
import Cuadrado from "../components/Cuadrado.astro"
---
<layout title='Test'>

<h1 class="text-5xl text-blue-500">Yoel Carnero</h1>
<Cuadrado/></Cuadrado>


</layout>